body {
	margin: 0;
	padding: 0;
}

#meny {
	position: fixed;
	height: 100%;
	width: 100%;
	background: red;
}

#karta {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #fff;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width: 100%;
	background: #222;
}

.you, .bar2go2{
	width: 7px;
	height: 7px;
	border-radius: 7px;
	background: #0fd2ab;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.67);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.67);
	box-shadow: 0 2px 5px rgba(0,0,0,.67);
	margin-left: -4px;
	margin-top: -4px;
	cursor: default !important;
}
.bar2go2 {
	background: #e9bc36;
}

.venueLocation {
	display: none;
}

#form {
	margin: 100px;
	position: relative;
	z-index: 444;
	vertical-align: right;
	background: ffffff;
}