body {
	margin: 0;
	padding: 0;
}

#meny {
	position: fixed;
	height: 100%;
	width: 100%;
	background: red;
}

#karta {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #fff;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width: 100%;
	background: #222;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-clickable{
	background: url(../img/marker.png) !important;
	height: 40px !important;
	width: 24px !important;
}